:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #e8e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  color: #362308;
  text-decoration: none;
  font-weight: 500;
}

.title {
  font-size: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.btn {
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


